:root{
    --custom-background-color: rgb(53, 1, 1);
}

.bg-primary{
    background-color: var(--custom-background-color) !important;
}

.nav-link.active {
    background-color: var(--custom-background-color) !important;
}

.btn-primary {
    background-color: var(--custom-background-color) !important;
}